.Tooltip {
  border: 2px solid #C1C7CE;
  background-color: #DDE3EA;
  color: #41474D;
  font-size: 90%;
  padding: 4px 8px;
  border-radius: 4px;
  box-sizing: border-box;
  width: max-content;
  max-width: calc(100vw - 10px);
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tooltip-arrow {
}